In [1]:
import sys, os
if os.path.abspath(os.pardir) not in sys.path:
    sys.path.insert(0, os.path.abspath(os.pardir))
import CONFIG
%reload_ext autoreload
%autoreload 2

In [88]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader, Subset
import torch.nn.functional as F
from sklearn import preprocessing

In [97]:
DATA_DIR = CONFIG.CFG.DATA.BASE
K_FOLDS = 5
BATCH_SIZE = 32
LEARNING_RATE = 3e-3
NUM_EPOCHS = 1000
ES_PATIENCE = 20
QUANTILES = (0.2, 0.5, 0.8)
MODEL_NAME = 'descartes'
SCALE_COLUMNS = ['Weeks', 'FVC', 'Percent', 'Age']
SEX_COLUMNS = ['Male', 'Female']
SMOKING_STATUS_COLUMNS = ['Currently smokes', 'Ex-smoker', 'Never smoked']

In [98]:
MIN_MAX_SCALER = preprocessing.MinMaxScaler()

In [99]:
train_df = pd.read_csv(os.path.join(DATA_DIR, "train.csv"))
train_df.drop_duplicates(keep=False, inplace=True, subset=['Patient', 'Weeks'])
test_df = pd.read_csv(os.path.join(DATA_DIR, "test.csv"))
sub_df = pd.read_csv(os.path.join(DATA_DIR, "sample_submission.csv"))
train_df.head()

                     Patient  Weeks   FVC    Percent  Age   Sex SmokingStatus
0  ID00007637202177411956430     -4  2315  58.253649   79  Male     Ex-smoker
1  ID00007637202177411956430      5  2214  55.712129   79  Male     Ex-smoker
2  ID00007637202177411956430      7  2061  51.862104   79  Male     Ex-smoker
3  ID00007637202177411956430      9  2144  53.950679   79  Male     Ex-smoker
4  ID00007637202177411956430     11  2069  52.063412   79  Male     Ex-smoker

In [100]:
train_df['Weeks'] = train_df['Weeks'] + 13

In [101]:
train_df.head()

                     Patient  Weeks   FVC    Percent  Age   Sex SmokingStatus
0  ID00007637202177411956430      9  2315  58.253649   79  Male     Ex-smoker
1  ID00007637202177411956430     18  2214  55.712129   79  Male     Ex-smoker
2  ID00007637202177411956430     20  2061  51.862104   79  Male     Ex-smoker
3  ID00007637202177411956430     22  2144  53.950679   79  Male     Ex-smoker
4  ID00007637202177411956430     24  2069  52.063412   79  Male     Ex-smoker

In [102]:
train_df[SCALE_COLUMNS] = MIN_MAX_SCALER.fit_transform(train_df[SCALE_COLUMNS])

In [103]:
train_df.head()

                     Patient     Weeks       FVC  ...       Age   Sex SmokingStatus
0  ID00007637202177411956430  0.007246  0.267050  ...  0.769231  Male     Ex-smoker
1  ID00007637202177411956430  0.072464  0.248923  ...  0.769231  Male     Ex-smoker
2  ID00007637202177411956430  0.086957  0.221464  ...  0.769231  Male     Ex-smoker
3  ID00007637202177411956430  0.101449  0.236360  ...  0.769231  Male     Ex-smoker
4  ID00007637202177411956430  0.115942  0.222900  ...  0.769231  Male     Ex-smoker

[5 rows x 7 columns]

In [ ]:
# REMOVE THE ONES FROM THE TRAIN_DF THAT ARE PRESENT IN TEST_DF AS WELL

In [104]:
# convert categoricals into dummies
train_df['Sex'] = pd.Categorical(train_df['Sex'], categories=SEX_COLUMNS)
train_df['SmokingStatus'] = pd.Categorical(train_df['SmokingStatus'], categories=SMOKING_STATUS_COLUMNS)
train_df = train_df.join(pd.get_dummies(train_df['Sex']))
train_df = train_df.join(pd.get_dummies(train_df['SmokingStatus']))

In [105]:
train_df.head()

                     Patient     Weeks  ...  Ex-smoker  Never smoked
0  ID00007637202177411956430  0.007246  ...          1             0
1  ID00007637202177411956430  0.072464  ...          1             0
2  ID00007637202177411956430  0.086957  ...          1             0
3  ID00007637202177411956430  0.101449  ...          1             0
4  ID00007637202177411956430  0.115942  ...          1             0

[5 rows x 12 columns]

In [77]:
test_df

                     Patient  Weeks   FVC    Percent  Age   Sex SmokingStatus
0  ID00419637202311204720264      6  3020  70.186855   73  Male     Ex-smoker
1  ID00421637202311550012437     15  2739  82.045291   68  Male     Ex-smoker
2  ID00422637202311677017371      6  1930  76.672493   73  Male     Ex-smoker
3  ID00423637202312137826377     17  3294  79.258903   72  Male     Ex-smoker
4  ID00426637202313170790466      0  2925  71.824968   73  Male  Never smoked

In [78]:
sub_df

                      Patient_Week   FVC  Confidence
0    ID00419637202311204720264_-12  2000         100
1    ID00421637202311550012437_-12  2000         100
2    ID00422637202311677017371_-12  2000         100
3    ID00423637202312137826377_-12  2000         100
4    ID00426637202313170790466_-12  2000         100
..                             ...   ...         ...
725  ID00419637202311204720264_133  2000         100
726  ID00421637202311550012437_133  2000         100
727  ID00422637202311677017371_133  2000         100
728  ID00423637202312137826377_133  2000         100
729  ID00426637202313170790466_133  2000         100

[730 rows x 3 columns]

In [79]:
sub_df['Patient'] = sub_df['Patient_Week'].apply(lambda x: x.split('_')[0])
sub_df['Weeks'] = sub_df['Patient_Week'].apply(lambda x: int(x.split('_')[-1]))
sub_df.head()

                    Patient_Week   FVC  ...                    Patient Weeks
0  ID00419637202311204720264_-12  2000  ...  ID00419637202311204720264   -12
1  ID00421637202311550012437_-12  2000  ...  ID00421637202311550012437   -12
2  ID00422637202311677017371_-12  2000  ...  ID00422637202311677017371   -12
3  ID00423637202312137826377_-12  2000  ...  ID00423637202312137826377   -12
4  ID00426637202313170790466_-12  2000  ...  ID00426637202313170790466   -12

[5 rows x 5 columns]

In [80]:
sub_df = sub_df.drop('FVC', axis=1).merge(test_df.drop('Weeks', axis=1), on='Patient')
sub_df.head()

                    Patient_Week  Confidence  ...   Sex  SmokingStatus
0  ID00419637202311204720264_-12         100  ...  Male      Ex-smoker
1  ID00419637202311204720264_-11         100  ...  Male      Ex-smoker
2  ID00419637202311204720264_-10         100  ...  Male      Ex-smoker
3   ID00419637202311204720264_-9         100  ...  Male      Ex-smoker
4   ID00419637202311204720264_-8         100  ...  Male      Ex-smoker

[5 rows x 9 columns]

In [81]:
sub_df['Weeks'] = sub_df['Weeks'] + 13

In [82]:
sub_df.head()

                    Patient_Week  Confidence  ...   Sex  SmokingStatus
0  ID00419637202311204720264_-12         100  ...  Male      Ex-smoker
1  ID00419637202311204720264_-11         100  ...  Male      Ex-smoker
2  ID00419637202311204720264_-10         100  ...  Male      Ex-smoker
3   ID00419637202311204720264_-9         100  ...  Male      Ex-smoker
4   ID00419637202311204720264_-8         100  ...  Male      Ex-smoker

[5 rows x 9 columns]

In [84]:
# have to make it categorical coz sub's sex column has males only
sub_df['Sex'] = pd.Categorical(sub_df['Sex'], categories=["Male", "Female"])
sub_df['SmokingStatus'] = pd.Categorical(sub_df['SmokingStatus'], categories=['Ex-smoker', 'Never smoked', 'Currently Smokes'])

In [85]:
sub_df = sub_df.join(pd.get_dummies(sub_df['Sex']))
sub_df = sub_df.join(pd.get_dummies(sub_df['SmokingStatus']))

In [86]:
sub_df.head()

                    Patient_Week  Confidence  ... Never smoked  Currently Smokes
0  ID00419637202311204720264_-12         100  ...            0                 0
1  ID00419637202311204720264_-11         100  ...            0                 0
2  ID00419637202311204720264_-10         100  ...            0                 0
3   ID00419637202311204720264_-9         100  ...            0                 0
4   ID00419637202311204720264_-8         100  ...            0                 0

[5 rows x 14 columns]